# CityBikes

Send a request to CityBikes for the city of your choice.

In [20]:
# imports
import os
import requests
from IPython.display import JSON
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [21]:
# get response from the api
url = "https://api.citybik.es/v2/networks"
response = requests.get(url)
response

In [19]:
# pass response as JSON
data = response.json()

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [22]:
data['networks'][150]['id']

'melbourne-bike-share'

In [23]:
#create a dataframe from the network dictionary
networks = data['networks']
networks = pd.DataFrame.from_dict(networks)

In [7]:
#Loop through the network to get all the network ids
for network in networks:
    network_id = networks['id']
print("Network ID: ", network_id)

Network ID:  0                velobike-moscow
1                baerum-bysykkel
2               bicincitta-siena
3            cyclopolis-maroussi
4              cycle-hire-slough
                 ...
606               publibike-bern
607     publibike-sottoceneri-ti
608           publibike-fribourg
609    publibike-lausanne-morges
610               publibike-sion
Name: id, Length: 611, dtype: object

In [24]:
#get data for limerick network_id and pass it as JSON
network_id = 'limerick'
network_json = requests.get("http://api.citybik.es/v2/networks/"+network_id).json()
#JSON(network_json)

Put your parsed results into a DataFrame.

In [9]:
# get data about the stations
df = pd.DataFrame.from_dict(network_json)
df = df['network']['stations']
df = pd.DataFrame.from_dict(df)
df.head()

,empty_slots,extra,free_bikes,id,latitude,longitude,name,timestamp
0,7,"{'slots': 11, 'uid': 3001}",0,81cd2f7eb1e66820021e319b59196e52,52.668746,-8.627809,Clancy's Strand,2023-06-04T00:56:07.552000Z
1,13,"{'slots': 21, 'uid': 3003}",0,377c40997d803f02d7debe51bf62d4ab,52.667706,-8.624409,Saint Mary's Cathedral,2023-06-04T00:56:07.554000Z
2,14,"{'slots': 20, 'uid': 3004}",0,218c53fb6024cd2db3d63da45f50a802,52.668627,-8.620756,Island Road Junction,2023-06-04T00:56:07.555000Z
3,10,"{'slots': 20, 'uid': 3006}",0,2b3252ca0c83030bfd39be9e2269eee5,52.666420,-8.618478,Abbey Bridge,2023-06-04T00:56:07.556000Z
4,6,"{'slots': 16, 'uid': 3007}",0,328ee2232f91cc293ab6b0eb18cb3ef5,52.665794,-8.631321,O'Callaghan Strand,2023-06-04T00:56:07.556000Z

In [10]:
cols = ['extra', 'id']
df.drop(cols, axis = 'columns', inplace=True)

In [11]:
citybike = df.copy()
citybike.head()

,empty_slots,free_bikes,latitude,longitude,name,timestamp
0,7,0,52.668746,-8.627809,Clancy's Strand,2023-06-04T00:56:07.552000Z
1,13,0,52.667706,-8.624409,Saint Mary's Cathedral,2023-06-04T00:56:07.554000Z
2,14,0,52.668627,-8.620756,Island Road Junction,2023-06-04T00:56:07.555000Z
3,10,0,52.666420,-8.618478,Abbey Bridge,2023-06-04T00:56:07.556000Z
4,6,0,52.665794,-8.631321,O'Callaghan Strand,2023-06-04T00:56:07.556000Z

In [11]:
# save dataframe as csv
citybike.to_csv('citybike.csv')

In [12]:
citybike.shape

(23, 6)

In [18]:
citybike

,empty_slots,free_bikes,latitude,longitude,name,timestamp
0,7,0,52.668746,-8.627809,Clancy's Strand,2023-06-04T00:56:07.552000Z
1,13,0,52.667706,-8.624409,Saint Mary's Cathedral,2023-06-04T00:56:07.554000Z
2,14,0,52.668627,-8.620756,Island Road Junction,2023-06-04T00:56:07.555000Z
3,10,0,52.666420,-8.618478,Abbey Bridge,2023-06-04T00:56:07.556000Z
4,6,0,52.665794,-8.631321,O'Callaghan Strand,2023-06-04T00:56:07.556000Z
5,10,0,52.663725,-8.628751,Bedford Row,2023-06-04T00:56:07.557000Z
6,17,0,52.664822,-8.626348,Arthur's Quay,2023-06-04T00:56:07.558000Z
7,13,0,52.663496,-8.621680,The Milk Market,2023-06-04T00:56:07.558000Z
8,5,0,52.662964,-8.617970,Saint John's Cathedral,2023-06-04T00:56:07.559000Z
9,15,0,52.660023,-8.620210,Newtown Mahon,2023-06-04T00:56:07.560000Z
10,6,0,52.662172,-8.631993,Bishop's Quay,2023-06-04T00:56:07.560000Z
11,4,0,52.661273,-8.629543,O'Connell Street,2023-06-04T00:56:07.561000Z
12,12,0,52.661081,-8.625007,Roches Street,2023-06-04T00:56:07.562000Z
13,11,0,52.660052,-8.627593,Baker Place,2023-06-04T00:56:07.562000Z
14,21,0,52.658635,-8.632447,Newenham St.,2023-06-04T00:56:07.563000Z
15,10,0,52.658147,-8.629443,Pery Square,2023-06-04T00:56:07.563000Z
16,16,0,52.659188,-8.625270,Colbert Station,2023-06-04T00:56:07.564000Z
17,11,0,52.655574,-8.635766,Mount Saint Alphonsus,2023-06-04T00:56:07.565000Z
18,14,0,52.655110,-8.634783,O'Connell Avenue,2023-06-04T00:56:07.565000Z
19,8,0,52.653170,-8.638653,Mary Immaculate College,2023-06-04T00:56:07.566000Z
20,10,0,52.652563,-8.635751,Mount Saint Vincent,2023-06-04T00:56:07.567000Z
21,21,0,52.669927,-8.624656,King John's Castle,2023-06-04T00:56:07.554000Z
22,47,0,52.673986,-8.648047,TUS Campus,2023-06-04T00:56:07.567000Z